.recipe-section-title {
    position: relative;
    flex: 1;
    text-align: center;
    transition: color 0.4s, background-color 0.4s;
    margin: 0 var(--size-margin-10);
    padding: var(--size-margin-10);
    color: var(--color-charcoal);
    font-family: Dawning;
    font-size: var(--size-font-size-recipe-section-title);
    margin: var(--size-margin-10) auto;
}