.contact {
    >.main-wrapper {
        >.contact-title {
            text-align: center;
            font-family: PlayfairSC;
            font-style: black;
            font-size: var(--size-font-size-subtitle);
        }
    }
}