.recipe-header {
    text-align: center;
    position: relative;
    background-repeat: repeat;
    background-image: url(../../../../../images/header-background.jpg);
    background-size: 70%;
    padding-bottom: var(--size-margin-30);
    font-family: PlayfairSC;
    font-size: var(--size-font-size-header);
}