.navigation-link {
    margin: var(--size-gutter);
    font-size: var(--size-font-size-navigation);
    display: table;
    position: relative;
    &:hover {
        >.navigation-link-underline {
            >.navigation-link-underline-half {
                width: calc(50% + var(--size-margin-10));
            }
        }
    }
    >.navigation-link-div {
        position: relative;
        height: var(--size-navigation-height);
        overflow: hidden;
        >.down, >.up {
            color: transparent;
            position: relative;
            >.moving {
                position: absolute;
                left: 0;
                height: var(--size-navigation-height);
                width: 100%;
                color: var(--color-charcoal);
            }
        }
        >.down {
            >.moving {
                top: -100%;
            }
        }
        &.animate {
            >.down {
                >.moving {
                    animation-name: section-navigation-down-animation;
                    animation-duration: 0.3s;
                    animation-timing-function: linear;
                    animation-fill-mode: forwards;
                }
            }
        }
    }
    >.navigation-link-underline {
        margin-top: var(--size-margin-5);
        width: calc(100% + var(--size-margin-20));
        display: flex;
        flex-direction: row;
        justify-content: center;
        transform: translateX(calc(var(--size-margin-10) * (-1)));
        >.navigation-link-underline-half {
            height: 5px;
            transition: width 1s;
            transition-timing-function: cubic-bezier(1,0,0,1);
            width: 0;
        }
    }
    &.is-selected {
        >.navigation-link-underline {
            >.navigation-link-underline-half {
                animation: navigation-selected-animation 1s cubic-bezier(1,0,0,1) 4s forwards;
            }
        }
    }
}

@keyframes section-navigation-down-animation {
    0% {
        top: -100%;
    }
    100% {
        top: 0;
    }
}

@keyframes navigation-selected-animation {
    0% {
        width: 0;
    }
    100% {
        width: calc(50% + var(--size-margin-10));
    }
}
