.arrow-up {
    margin: var(--size-margin-30) 0;
    text-transform: uppercase;
    cursor: pointer;
    transition: color 0.4s;
    position: relative;
    &:hover {
        color: var(--color-apricot);
    }
    >.arrow-up {
        position: absolute;
        margin-left: var(--size-margin-10);
        animation: arrow-up-animation 2s linear 0s infinite;
    }
}

@keyframes arrow-up-animation {
    0% {
        transform: translateY(-30px);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(-30px);
    }
}
