.header {
    text-align: center;
    position: relative;
    background-repeat: repeat;
    background-image: url(../../../images/header-background.jpg);
    background-size: 70%;
    padding-bottom: var(--size-margin-30);
    font-size: var(--size-font-size-header);
    >.header-recipes {
        font-family: PlayfairSC;
    }
    >.header-by-maki {
        font-family: BsSignature;
        margin-top: calc(var(--size-margin-30) * (-1));
    }
}