.header {
    text-align: center;
    position: relative;
    background-repeat: repeat;
    background-image: url(../../../images/header-background.jpg);
    background-size: 70%;
    padding-bottom: var(--size-margin-30);
    >.header-recipes {
        font-family: PlayfairSC;
        font-size: var(--size-font-size-header);
    }
    >.header-by-maki {
        font-size: 40px;
        font-style: italic;
    }
}