@import './colors.scss';
@import './sizes.scss';
@import './fonts.scss';

.App {
    font-family: Playfair;
    color: var(--color-charcoal);
    background-color: var(--color-white);
    a {
        text-decoration: none;
        color: var(--color-charcoal);
    }
    .main-wrapper {
        margin: 0 var(--size-main-margin);
        max-width: var(--size-main-wrapper-max-width);
    }
}

@media screen and (min-width: 1540px) {
    .App {
        .main-wrapper {
            margin: 0 auto;
        }
    }
}

