:root{
    --color-white: rgb(251, 251, 251);
    --color-charcoal: rgb(54, 63, 73);
    --color-grey: rgb(103, 115, 123);
    --color-light-grey: rgb(151, 167, 172);
    --color-apricot: rgb(253, 209, 188);
}